button {
  font-size: 100px;
  color: black;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}

.RED {
  background-color: red;
}
.RED_LIGHT {
  background-color: lightcoral;
}

.BLUE {
  background-color: blue;
}

.BLUE_LIGHT {
  background-color: lightblue;
}

.GREEN {
  background-color: green;
}

.GREEN_LIGHT {
  background-color: lightgreen;
}
